
3 strategy Comparison/RL/trading-bot/
*.pdf
3 strategy Comparison/This SIMPLE Trading Strategy Has A 88.89% Winning Rate.mp4
3 strategy Comparison/OLD/Time-Series Analysis of AUD to USD GBP conversion rates ('10 to '21).ipynb
Chess engine/Chess engine/Coding a Chess Engine in Python (Part 5).mp4
*.mp4
Chess engine/wake_engine/
*.mkv
Customer Lifetime Expectancy/CLTV_ECHANTILLON_FINAL.txt
Customer Lifetime Expectancy/features.xls
*.mp3
*.wav
*.json
Recommendation system design/vocal-remover/
Soccer Analysis and Prediction/Analysis/Soccer Analysis/
